@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
body {
  font-family: Roboto, sans-serif;
  margin: 0;
}

header {
  font-family: Shrikhand, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
header .logo {
  margin: 1rem 0;
  width: 35%;
}
@media screen and (min-width: 1000px) {
  header .logo {
    width: auto;
  }
}
header h2 {
  font-family: Shrikhand, "cursive";
}

.fa-arrow-left {
  display: flex;
  position: absolute;
  left: 2rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.3rem;
  opacity: 1 !important;
  color: #000 !important;
}

a, a:hover, a:visited, a:active {
  color: #fff;
  text-decoration: none;
}

ul, .divmenuflex ul li, li {
  list-style-type: none;
}

.list-picture {
  width: 100%;
  object-fit: cover;
  height: 100%;
  max-height: 35rem;
}

.section-restaurant {
  display: grid;
  margin-top: -4rem;
  border-radius: 2rem 2rem 0 0;
  z-index: 1;
  position: relative;
  background-color: #f6f6f6;
}
@media screen and (min-width: 1000px) {
  .section-restaurant {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
  }
}

.header-flex {
  padding: 1rem 2rem 0 1rem;
  justify-content: space-between;
  grid-column: 1/-1;
}

.menu {
  margin-top: -4rem;
  border-radius: 2rem 2rem 0 0;
  background-color: #f6f6f6;
  z-index: 1;
  position: relative;
}
.menu__btn {
  height: 2rem;
  width: 2rem;
  background-color: transparent;
  border: transparent 0px solid;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  z-index: 0;
}
.menu__btn:hover::before {
  opacity: 1;
}
.menu__btn::before {
  opacity: 0;
  transition: 0.5s;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(0deg, #9356dc 0%, #ff79da 100%);
}
.menu__like {
  transition-duration: 0.25s;
  background-color: #f6f6f6;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  mix-blend-mode: lighten;
}
.menu__btn:hover .menu__like--no-background {
  opacity: 0;
}

.fa-heart {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.fa-heart.heart {
  transition-duration: 0.25s;
  background-color: #f6f6f6;
  display: flex;
  align-items: center;
  justify-content: center;
  mix-blend-mode: lighten;
}
.fa-heart.heart > :hover .test {
  opacity: 0;
}

.sous-menu {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  overflow: hidden;
  padding: 0 1rem;
}
.sous-menu .sous-titre {
  font-weight: 400;
  position: relative;
  padding-bottom: 0.5rem;
}
.sous-menu .sous-titre::after {
  content: "";
  width: 3rem;
  height: 0.25rem;
  background-color: #99e2d0;
  position: absolute;
  left: 0;
  bottom: 0;
}

.divmenuflex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background-color: #fff;
  padding-left: 0.5rem;
  border-radius: 0.75rem;
  margin: 1rem 0;
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.2);
  overflow: hidden;
  cursor: pointer;
  max-width: 100%;
  transform: scale(0);
  transform-origin: left;
  animation: card-up 0.8s;
  animation-fill-mode: both;
}
.divmenuflex__confirmation {
  background-color: #99e2d0;
  margin-right: -5rem;
  width: 4rem;
  height: 4.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.5s;
}
.divmenuflex:hover .divmenuflex__confirmation {
  margin-right: 0;
}
.divmenuflex .fa-check {
  background-color: #fff;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #99e2d0;
  border-radius: 100px;
}
.divmenuflex:hover .fa-check {
  transform: rotate(-360deg);
  transition: transform 0.6s;
}
.divmenuflex ul, .divmenuflex ul li {
  padding: 0.3rem 0;
  margin: 0;
  flex: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.divmenuflex ul li {
  text-overflow: ellipsis;
}
.divmenuflex p {
  padding-right: 2rem;
}

.bold {
  font-weight: bold;
}

@keyframes card-up {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.delay {
  animation-delay: 0.1s;
}
.delay.two {
  animation-delay: 0.2s;
}
.delay.three {
  animation-delay: 0.3s;
}
.delay.four {
  animation-delay: 0.4s;
}
.delay.five {
  animation-delay: 0.5s;
}
.delay.six {
  animation-delay: 0.6s;
}
.delay.seven {
  animation-delay: 0.7s;
}
.delay.eight {
  animation-delay: 0.8s;
}
.delay.nine {
  animation-delay: 0.9s;
}

.price {
  padding-left: 1rem;
}

.div-btn {
  display: flex;
  text-decoration: none;
  justify-content: center;
  padding: 3rem 0;
  background-color: #f6f6f6;
}

.bouton-cmd {
  border: 0;
  padding: 0.75rem 1.5rem;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 100px;
  color: #fff;
  background-color: #707070;
  background-image: linear-gradient(to top, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  transition-duration: 0.25s;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.bouton-cmd:hover {
  background-color: #fff;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
}

.footer-flex {
  display: flex;
  flex-direction: column;
  background-color: #414141;
  padding: 1rem;
}
.footer-flex .footer-li {
  display: flex;
  padding: 0.15rem;
}
.footer-flex .footer-li .fa-utensils, .footer-flex .footer-li .fa-hands-helping {
  opacity: 1;
  color: inherit;
}
.footer-flex p {
  margin: 0;
  color: white;
}
.footer-flex i {
  padding-right: 1.5rem;
}
.footer-flex .footer-help {
  margin-left: -0.5rem;
}
.footer-flex ul, .footer-flex .divmenuflex ul li, .divmenuflex ul .footer-flex li, .footer-flex li {
  margin: 0;
  padding: 0.15rem 0;
  color: white;
}

.footer-logo {
  filter: invert(1);
  max-width: 6rem;
  padding-bottom: 1rem;
}

/*# sourceMappingURL=style-card.css.map */
